.container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 100vw; // Ensure the container takes the full width
  box-sizing: border-box; // Include padding and border in the element's total width and height

  .right-container {
    display: flex;
    flex-direction: column;
    flex: 1; // Take the remaining flex space
    justify-content: center;
    align-items: center;
    height: 100%; // Ensure the right container takes the full height
    cursor: pointer;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; // Ensure the left container takes the full height
    cursor: url(../../../assets/location-pin.png), auto;
  }
}
.actions {
  margin: 2rem;
}
mat-form-field {
  width: 300px;
}
.col-12 {
  display: flex;
  justify-content: center;
}
