<div class="header-container"><h1 mat-dialog-title>Location : {{ dialogData.data.title  }}</h1>
  <button class="delete "  mat-icon-button color="warn" align="end" [mat-dialog-close]="true">
    <i class="material-symbols-outlined">delete</i>
  </button></div>
<div mat-dialog-content>
  <h4>Notes</h4>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet deserunt
    dignissimos dolorem fugit impedit reiciendis obcaecati sequi, reprehenderit
    mollitia necessitatibus unde ad cumque maxime voluptatibus aperiam, et
    quaerat minima explicabo?
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="false">
    Close
  </button>
</div>
