<div class="dash-host"></div>
<div class="row content m-5">
  <div class="col-9">
    <mat-card>
      <app-map
        [zoom]="zoom"
        [lat]="lat"
        [lng]="lng"
        (notify)="handleMapChange($event)"
        (hitPoint)="handleMapClick($event)"
      ></app-map>
    </mat-card>
  </div>
  <div class="col-3 mt-5">
    <mat-card class="pin-card">
      <mat-card-content>
        <mat-card class="my-2" *ngFor="let index of getRange(50); let i = index"
          ><mat-card-content><h4>Pin List</h4></mat-card-content></mat-card
        >
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button (click)="logout()" color="primary" mat-raised-button>Logout</button>
