@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


$m3-light-theme: matx.define-theme((
  color: (
    primary: matx.$m3-cyan-palette,
    ),
));


.dark-theme {
  @include mat.all-component-themes($m3-light-theme);
}

.light-theme {
  @include mat.all-component-themes($m3-light-theme);
}